<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")

        
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("DataNerves", "NewsLibrarySearch", "Home")</p>
                </div>
                <div class="float-right">
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("News Data", "NewsLibrarySearch", "Home")</li>
                            <li>@Html.ActionLink("Contact / About", "Contact", "Home")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <span>&copy; @DateTime.Now.Year - DataNerves,
                    Quantitative data sourced from <a href="http://www.newslibrary.com">NewsLibrary.com</a> for use for educational, scholarly and news reporting purposes only</span>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/newslib")
        @RenderSection("scripts", required: false)
        @Scripts.Render("~/bundles/jqueryui")
        @Styles.Render("~/Content/themes/base/css", "~/Content/css")
        
    </body>
</html>
