@using System.Web.Mvc
@using System.Web.Mvc.Html
@model DataNervesUIMVC.Models.QueryModel

@{
    ViewBag.Title = "NewsLibrary Search";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h2>@ViewBag.Title.</h2>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}
<br/>

<div>
    @using (Html.BeginForm("Search", "Home", FormMethod.Get))
    {
        <table id="NewsLibrarySearchForm">
        <tr>
            <td>
                <span>
                    Enter search term or terms. Boolean operators are supported
                </span><br/>
                @Html.TextBoxFor(m => m.SearchString, new { @placeholder = "Search terms" })
            </td>
        </tr>
        <tr>
            <td>
                <span> Enter date from and date to </span><br/>
                @Html.TextBox("DateFrom", Model.DateFrom != DateTime.MinValue ? Model.DateFrom.ToString("dd MM yyyy") : " ", new {@class = "DatePicker", @placeholder = "mm/dd/yyyy" })
                <span>&nbsp; to &nbsp;</span>   
                @Html.TextBox("DateTo", Model.DateTo != DateTime.MinValue ? Model.DateTo.ToString("dd MM yyyy") : " ", new { @class = "DatePicker", @placeholder = "mm/dd/yyyy" })
            </td>
        </tr>
        <tr>
            <td>
                <span> Choose search target</span><br/>
                @Html.DropDownListFor(m => m.SearchTargetId, Model.SearchTargets)
                <br/><br/>
                <input type="submit" value="Search" />
            </td>
        </tr>
        </table>
    }
</div>

@section Scripts{
    @*@Scripts.Render("~/bundles/jqueryval")*@
    <script type="text/javascript">
        $(document).ready(function () {
            $(".DatePicker").datepicker();
        });
    </script>
}